In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'A':range(1,11), 'B':np.random.randn(10)})
df

    A         B
0   1  1.556976
1   2  0.954206
2   3  0.686141
3   4  1.736147
4   5  0.731227
5   6  0.598300
6   7  0.312508
7   8 -0.436746
8   9 -1.996722
9  10  0.872482

In [5]:
df.assign?

In [6]:
df.assign(ln_A = lambda x : np.log(x.A))

    A         B      ln_A
0   1  1.556976  0.000000
1   2  0.954206  0.693147
2   3  0.686141  1.098612
3   4  1.736147  1.386294
4   5  0.731227  1.609438
5   6  0.598300  1.791759
6   7  0.312508  1.945910
7   8 -0.436746  2.079442
8   9 -1.996722  2.197225
9  10  0.872482  2.302585

In [7]:
df.assign(ln_A = lambda x : np.log(x.A)).head()

   A         B      ln_A
0  1  1.556976  0.000000
1  2  0.954206  0.693147
2  3  0.686141  1.098612
3  4  1.736147  1.386294
4  5  0.731227  1.609438

In [12]:
df["ln_A1"] = np.log(df.A)
df

    A         B      ln_A     ln_A1
0   1  1.556976  0.000000  0.000000
1   2  0.954206  0.693147  0.693147
2   3  0.686141  1.098612  1.098612
3   4  1.736147  1.386294  1.386294
4   5  0.731227  1.609438  1.609438
5   6  0.598300  1.791759  1.791759
6   7  0.312508  1.945910  1.945910
7   8 -0.436746  2.079442  2.079442
8   9 -1.996722  2.197225  2.197225
9  10  0.872482  2.302585  2.302585

In [13]:
df.ln_A = np.log(df.A)

In [14]:
df

    A         B      ln_A     ln_A1
0   1  1.556976  0.000000  0.000000
1   2  0.954206  0.693147  0.693147
2   3  0.686141  1.098612  1.098612
3   4  1.736147  1.386294  1.386294
4   5  0.731227  1.609438  1.609438
5   6  0.598300  1.791759  1.791759
6   7  0.312508  1.945910  1.945910
7   8 -0.436746  2.079442  2.079442
8   9 -1.996722  2.197225  2.197225
9  10  0.872482  2.302585  2.302585

In [15]:
pd.qcut?

In [16]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"]) # 5개의 리스트를 가져와서 3개의 버킷으로 만들어준다.

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [17]:
pd.qcut(df.A, 3, labels=["good","medium","bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [18]:
pd.qcut(df.B, 3, labels=["good","medium","bad"])

0       bad
1       bad
2    medium
3       bad
4    medium
5      good
6      good
7      good
8      good
9    medium
Name: B, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [20]:
pd.qcut(df.B, 2, labels=["good","bad"])

0     bad
1     bad
2    good
3     bad
4     bad
5    good
6    good
7    good
8    good
9     bad
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [25]:
df.max(axis=0) # col 의 최댓값을 가져옴

A        10.000000
B         1.736147
ln_A      2.302585
ln_A1     2.302585
dtype: float64

In [24]:
df.min(axis=0) # col 의 최솟값을 가져옴

A        1.000000
B       -1.996722
ln_A     0.000000
ln_A1    0.000000
dtype: float64

In [30]:
df["A"].clip(lower=1, upper=3)

0    1
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64

In [32]:
df.abs()

      A         B      ln_A     ln_A1
0   1.0  1.556976  0.000000  0.000000
1   2.0  0.954206  0.693147  0.693147
2   3.0  0.686141  1.098612  1.098612
3   4.0  1.736147  1.386294  1.386294
4   5.0  0.731227  1.609438  1.609438
5   6.0  0.598300  1.791759  1.791759
6   7.0  0.312508  1.945910  1.945910
7   8.0  0.436746  2.079442  2.079442
8   9.0  1.996722  2.197225  2.197225
9  10.0  0.872482  2.302585  2.302585

In [34]:
df['B'].abs()

0    1.556976
1    0.954206
2    0.686141
3    1.736147
4    0.731227
5    0.598300
6    0.312508
7    0.436746
8    1.996722
9    0.872482
Name: B, dtype: float64