In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3,4,np.nan, 1], [np.nan, np.nan, np.nan, 5]], columns = list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [8]:
df.dropna?

In [9]:
df.dropna(axis=1, how='all') # Axis 0 == 행, 1 == 열

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [10]:
df.dropna(axis=0, how='any')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [11]:
df.fillna?

In [12]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [13]:
values = {'A' : 0, 'B' : 1, 'C' : 2, 'D':3}
df.fillna(value = values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [15]:
df['D'].mean()

3.0

In [16]:
df.fillna(df['D'].mean())

     A    B    C  D
0  2.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  2.0  2.0  2.0  5

In [22]:
fill_na_value = df['D'].max()
fill_na_value

5

In [23]:
df.fillna(fill_na_value)

     A    B    C  D
0  5.0  2.0  5.0  0
1  3.0  4.0  5.0  1
2  5.0  5.0  5.0  5

In [24]:
df.isnull()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False

In [25]:
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [26]:
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64