In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    {"a" : [4, 5, 6], 
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
     index = [1,2,3]
)

In [8]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [11]:
df["c"] # 대소문자 구별

1    10
2    11
3    12
Name: c, dtype: int64

In [13]:
df[["a", "b"]] # 여러개 col 확인

   a  b
1  4  7
2  5  8
3  6  9

In [14]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [16]:
df.loc[3, "a"] # 행, 열

6

In [18]:
df.loc[[1,2],["a","b"]] # 여러개 항목 지정가능

   a  b
1  4  7
2  5  8

In [19]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])

In [20]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [21]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
            names=['n','v'])) # 멀티인덱스 데이터프레임

In [22]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12