In [1]:
import pandas as pd

In [28]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6],
        "b" : [7, 8, 9, 9],
        "c" : [10, 11, 12, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2), ('e',3)],
        names=['n','v']))

In [12]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [14]:
df[df.a > 4] # 4보다 큰 a col

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12
  3  6  9  12

In [15]:
df.b > 7

n  v
d  1    False
   2     True
e  2     True
   3     True
Name: b, dtype: bool

In [16]:
df[df.b > 7]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12
  3  6  9  12

In [17]:
df[df.c > 7] # 마찬가지로 대소문자 구분

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [18]:
df.drop_duplicates() # 중복제거

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [19]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [22]:
df.drop_duplicates(inplace=True) # 사용을 권장하지는 않음

df = df.drop_duplicates() # 와 같음. 이것을 사용 권장.

In [23]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [24]:
df.drop_duplicates?

In [29]:
df = df.drop_duplicates(keep = 'last') #  중복행일경우 마지막을 남김

In [30]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12