## 서울시 COVID-19 데이터 분석

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
file_name = f"seoul_covid19_6_30_.csv"
file_name

'seoul_covid19_6_30_.csv'

In [8]:
pd.read_csv(file_name, encoding = "utf-8")

        연번     환자    확진일   거주지     여행력          접촉력         조치사항
0     1321  12830  6.30.  영등포구       -  영등포구 확진자 접촉            -
1     1320  12829  6.30.   관악구       -         확인 중        보라매병원
2     1319  12831  6.30.  영등포구       -         확인 중      중앙대학교병원
3     1318  12808  6.30.   관악구       -   강남구 역삼동 모임        보라매병원
4     1317  12809  6.30.   관악구       -   강남구 역삼동 모임        보라매병원
...    ...    ...    ...   ...     ...          ...          ...
1316     5      9  1.31.   성북구       -        #5 접촉    서울의료원(퇴원)
1317     4      7  1.30.   마포구  중국 우한시        해외 접촉    서울의료원(퇴원)
1318     3      6  1.30.   종로구       -        #3 접촉  서울대학교병원(퇴원)
1319     2      5  1.30.   중랑구  중국 우한시        해외 접촉    서울의료원(퇴원)
1320     1      2  1.24.   강서구  중국 우한시        해외 접촉  국립중앙의료원(퇴원)

[1321 rows x 7 columns]

In [9]:
df = pd.read_csv(file_name, encoding = "utf-8")
df.shape

(1321, 7)

In [14]:
df = df.sort_values(by="연번", ascending=False)

In [15]:
df.head()

     연번     환자    확진일   거주지 여행력          접촉력     조치사항
0  1321  12830  6.30.  영등포구   -  영등포구 확진자 접촉        -
1  1320  12829  6.30.   관악구   -         확인 중    보라매병원
2  1319  12831  6.30.  영등포구   -         확인 중  중앙대학교병원
3  1318  12808  6.30.   관악구   -   강남구 역삼동 모임    보라매병원
4  1317  12809  6.30.   관악구   -   강남구 역삼동 모임    보라매병원

In [16]:
df.tail()

      연번  환자    확진일  거주지     여행력    접촉력         조치사항
1316   5   9  1.31.  성북구       -  #5 접촉    서울의료원(퇴원)
1317   4   7  1.30.  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
1318   3   6  1.30.  종로구       -  #3 접촉  서울대학교병원(퇴원)
1319   2   5  1.30.  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
1320   1   2  1.24.  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)

## 시각화 도구 불러오기

In [20]:
# 한글 폰트 설정

plt.rc("font", family="Malgun Gothic")
plt.rc("axes", unicode_minus = False) # 음수값 표시

In [22]:
# 시각화 폰트가 선명하게 보이는 retina

from IPython.display import set_matplotlib_formats

set_matplotlib_formats("retina")